@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --dark-color: #141619;
    --text-color: #fff
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    background: var(--dark-color);
    scroll-behavior: smooth;
}

h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 76px;
    font-style: normal;
    font-weight: 500;
    line-height: 86px;
}

h2 {
    color: var(--text-color);
    font-size: 56px;
    font-style: normal;
    font-weight: 500;
    line-height: 78px;
}

h3 {
    color: var(--text-color);
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 68px;
}

h4 {
    color: var(--text-color);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

p {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

a {
    color: var(--text-color);
}

.p-centering {
    text-align: center;
}

.h3-centering {
    text-align: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 64px;
}

.main-header-menu {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.header-links {
    text-decoration: none;
    color: var(--text-color);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 8px;
}

.header-links:hover {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-radius: 4px;
}

.welcome-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 0 428px;
    height: 100vh;
}

.principal-button {
    width: fit-content;
    padding: 18px;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-size: 19px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    border: 0;
    border-radius: 4px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}

.about-us-section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-us-section-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 428px;
}

.about-us-section-first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    box-sizing: border-box;
}

.about-us-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2px;
    align-items: center;
    width: 300px;
    height: 250px;
}

.about-us-article:hover {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-radius: 4px;
}

.divider-about-us-article {
    width: 2px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    height: 176px;
}

.large-div {
    height: 2px;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    margin: 24px 194px;
}

.section-main-market {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-section-market {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-bottom: 124px;
}

.hero-test {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
}

.markets-article {
    margin: 124px;
    display: flex;
    justify-content: space-between;
    gap: 204px;
}

.section-market-info {
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.learn-more-nav {
    display: flex;
    gap: 8px;
    align-items: center;
}
