@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --dark-color: #141619;
    --text-color: #fff
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: "Inter", sans-serif;
    background: var(--dark-color);
    scroll-behavior: smooth;
}

h1 {
    color: var(--text-color);
    text-align: center;
    font-size: 4.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 5.37rem;
}

h2 {
    color: var(--text-color);
    font-size: 3.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.87rem;
}

h3 {
    color: var(--text-color);
    font-size: 2.37rem;
    font-style: normal;
    font-weight: 500;
    line-height: 4.25rem;
}

h4 {
    color: var(--text-color);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem;
}

p {
    color: var(--text-color);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.875rem;
}

a {
    color: var(--text-color);
}

strong {
    color: var(--text-color);
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.438rem;
}

small {
    color: var(--text-color);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.125rem;
}

.p-centering {
    text-align: center;
}

.h3-centering {
    text-align: center;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 4rem;
}

.main-header-menu {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.header-links {
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.938rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5rem;
    padding: 0.5rem;
}

.header-links:hover {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-radius: 0.25rem;
}

.welcome-section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin: 0 26.75rem;
    height: 100vh;
}

.principal-button {
    width: fit-content;
    padding: 1.12rem;
    color: var(--text-color);
    font-family: "Inter", sans-serif;
    font-size: 1.19rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.37rem;
    border: 0;
    border-radius: 0.25rem;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
}

.about-us-section {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-evenly;
}

.about-us-section-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 26.75rem;
}

.about-us-section-first-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.125rem;
    box-sizing: border-box;
}

.about-us-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.125rem;
    align-items: center;
    width: 18.75rem;
    height: 15.625rem;
}

.about-us-article:hover {
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    border-radius: 0.25rem;
}

.divider-about-us-article {
    width: 0.125rem;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    height: 11rem;
}

.large-div {
    height: 0.125rem;
    background: linear-gradient(135deg, #665DCD 0%, #5FA4E6 44.76%, #D2AB67 100%);
    margin: 1.5rem 12.12rem;
}

.section-main-market {
    position: relative;
    display: flex;
    flex-direction: column;
}

.header-section-market {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 7.75rem;
}

.hero-test {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -100;
}

.markets-article {
    margin: 7.75rem;
    display: flex;
    justify-content: space-between;
    gap: 12.75rem;
    height: 100%;
}

.section-market-info {
    display: flex;
    flex-direction: column;
    gap: 2.12rem;
}

.learn-more-nav {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.our-partners-section {
    margin: 12.12rem;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

.section-good-company {
    height: 100vh;
}

.article-good-company {
    display: flex;
    flex-direction: column;
    margin: 0 12.12rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2.37rem;
}

.div-brands {
    border: 0.063rem solid rgba(65, 85, 114, 0.50);
    background: linear-gradient(180deg, rgba(65, 85, 114, 0.15) 0%, rgba(27, 27, 30, 0.10) 100%);
    border-radius: 0.25rem;
    width: 12rem;
    padding: 3.5rem 3.5rem 1.56rem 3.5rem;
    margin: 1rem;
}

.bottom-navigation {
    display: flex;
    gap: 2.125rem;
}

.footer-company {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.join-team-section {
    display: flex;
    margin: 12.12rem;
    justify-content: space-between;
    align-items: center;
    gap: 22.125rem;
}

.info-join {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.contact-us-section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 28.37rem;
    gap: 1.5rem;
}